

/* Estilos generales */
html{
    font-size: 65%; /*Cambia la medida rem de 16px a 10px*/
    font-family: 'Afacad', sans-serif;
    color: crimson;
}


body{
    background-color: rgb(31, 30, 34);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


h1{
    font-size: 300%;
    color: rgba(81, 111, 211, 0.922);
    text-decoration: none;
    font-weight: bolder;
}
h2{
    font-size: 200%;
    color: rgba(81, 111, 211, 0.922);
    text-decoration: none
}


h3{
    color:rgba(81, 111, 211, 0.922);
    text-align: end;
    text-decoration: none
}
h4{
    color: rgba(195, 207, 241, 0.922);
    text-decoration: none;
}

a{
    text-decoration: none;
}


.filas figcaption{
    font-size: 200%; /*Cambia la medida rem de 16px a 10px*/
    font-family: 'Afacad', sans-serif;
    color: rgb(239, 224, 12);
    text-align: center;
    display: inline-flex;

}



.subrayado{
    text-decoration: underline;
}


/* Headers */
header{
    
    position: sticky;
    top: 0px;
}
.color-nav{
    width: 100%;
    background-image: linear-gradient(to right,  #ffc107, #0f0f0f)!important;
}

.tamaño{
    font-size: 22px!important;
}


header nav div a{
    color: crimson;
    text-decoration: none;
    font-family: 'Afacad', sans-serif;
    font-weight: 7000;
    font-size: 20px;
    font-size: 3rem;
    font-style: italic;
    text-transform: uppercase;
}


.lista1 li {
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    list-style: none;
    
    
}
/* Headers */




.lista-anime li{
    display:inline-flex;
    padding-left:10px;
    padding-right:10px
}
.lista-anime figcaption{
    font-size: 200%; /*Cambia la medida rem de 16px a 10px*/
    font-family: 'Afacad', sans-serif;
    color: rgb(239, 224, 12);
    text-align: center;
}

header nav ul li a{
    color: crimson;
    text-decoration: none;
    font-family: 'Afacad', sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-size: 3rem;
    font-style: italic;
    text-transform: uppercase;
}

/* Main index */

main{
    margin: 1% 4%;
}
.main-index h3{
    text-decoration: overline;
}


.background-image{
    /* height -> Alto */
    /* width -> Ancho */
    height: 100px;
    width: 100px;
    column-span: 5px;
    background-image: url("./../img/flight.png");
    /* background-position: center; */
    background-position-x:center;
    background-position-y: bottom;      
    color: crimson;
    text-decoration: none;
    font-family: 'Afacad', sans-serif;
    text-align: center;
}

/* Main index */
#filas-de-filtros label{
    display:inline;
    padding-left:10px;
    padding-right:10px;
}
main section ul li a figure{
    display:inline;
    padding-left:10px;
    padding-right:10px;
}
.filas{
    font-size: 100%; /*Cambia la medida rem de 16px a 10px*/
    font-family: 'Afacad', sans-serif;
    color: rgb(239, 224, 12);
    
}




/* Mains  */
.main-index h3{
    text-decoration: overline;
}

.background-image{
    /* height -> Alto */
    /* width -> Ancho */
    height: 100px;
    width: 100px;
    column-span: 5px;
    background-image: url("./../img/flight.png");
    /* background-position: center; */
    background-position-x:center;
    background-position-y: bottom;      
    color: crimson;
    text-decoration: none;
    font-family: 'Afacad', sans-serif;
    text-align: center;
}







/* Mains  */

/* Mangas  */
.lista-manga li{
    display:inline-block;
    padding-left:10px;
    padding-right:10px
}
.lista-manga figcaption{
    font-size: 200%; /*Cambia la medida rem de 16px a 10px*/
    font-family: 'Afacad', sans-serif;
    color: rgb(239, 224, 12);
}


/*  noticias*/
.todas-noticias img{
    float: left;
    margin-right: 10px;
    width: 18%;
    height: auto;
}
.todas-noticias h2{
    font-size: 200%;
    color: rgba(253, 30, 30, 0.922);
    
}
.todas-noticias p{
    font-size: 150%;
    color: rgba(240, 238, 217, 0.922);
}
.todas-noticias h3{
    color: rgba(253, 238, 30, 0.922);
    
}
.img-noticias{
    width: 100%;
    border-radius: 1%;
}
.linea {
    border-top: 1px solid white;
    margin: 10px 0;
}
/*  noticias*/

/* contacto*/
.contact-primer-column{
    background: linear-gradient(to bottom,rgb(0 0 0/.5), rgb(0 0 0 /.5)), url(../img/foto.jpg)center;
    background-size: cover;
    height: 200px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: end;
    border-radius: 2%;
    font-size: 150%;
    
}
main section div h1{
    color: white;
    font-weight: unset;
    font-family: 'Afacad', sans-serif;
    font-size: 150%;
}
main section div div p{
    color: rgba(195, 207, 241, 0.922);
    text-decoration: none;
    font-family: 'Afacad', sans-serif;
    font-size: 150%;
}
main section div div h3{
    text-align: center;
    font-family: 'Afacad', sans-serif;
    font-size: 150%;
}
.seccion{
    max-width: 1200px;
    margin: 3rem auto;
    padding: 1rem;
    
}
.columnas{
    display: grid;
    grid-template-columns: 1fr
    1fr;
    column-gap: 4rem;
}
.formulario{
    display: flex;
    flex-flow: column;
}
.formulario input, .formulario textarea{
    margin: .5rem 0;
    padding: .5rem .2rem;
    background-color: rgb(49, 49, 70);
    border: none;
    font-size: 150%;
}
.formulario button{
    width: fit-content;
    border-color: rgb(86, 86, 248);
    padding: .5rem .4rem;
    background-color: rgb(49, 49, 70);
    color: rgba(240, 238, 217, 0.922);
    font-size: 150%;
}
.direccion{
    color: rgba(240, 238, 217, 0.922);
    p{
        font-size: 120%;
    }
    address{
        font-size: 120%;

    }
}
@media (max-width:640px){
    .columnas{
        grid-template-columns: 1fr !important;
    }

}


.contacto label{
    font-size: 200%; /*Cambia la medida rem de 16px a 10px*/
    font-family: 'Afacad', sans-serif;
    color: rgba(253, 238, 30, 0.922)
}
.contacto p{
    font-size: 200%; /*Cambia la medida rem de 16px a 10px*/
    font-family: 'Afacad', sans-serif;
    color: rgba(253, 238, 30, 0.922)
}
.contacto address{
    font-size: 200%; /*Cambia la medida rem de 16px a 10px*/
    font-family: 'Afacad', sans-serif;
    color: rgba(253, 238, 30, 0.922)
}

/* Footer */
.redes{
    font-size: 400%;
    color: cadetblue;
    background-color: lightcoral;
}

