.main-contacto {
    margin: 1% 4%;
    h1 {
        color: white;
        font-weight: unset;
        font-family: 'Afacad', sans-serif;
        font-size: 150%;
    }

    p {
        color: rgba(195, 207, 241, 0.922);
        text-decoration: none;
        font-family: 'Afacad', sans-serif;
        font-size: 150%;
    }

    h3 {
        text-align: center;
        font-family: 'Afacad', sans-serif;
        font-size: 150%;
    }

    .contact-primer-column {
        background: linear-gradient(to bottom, rgb(0 0 0/.5), rgb(0 0 0 /.5)), url(../img/foto.jpg)center;
        background-size: cover;
        height: 200px;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: end;
        border-radius: 2%;
        font-size: 150%;

        .pag-contacto {
            color: white;
            font-weight: unset;
            font-family: 'Afacad', sans-serif;
            font-size: 150%;
        }
    }


    .seccion {
        max-width: 1200px;
        margin: 3rem auto;
        padding: 1rem;

        .columnas {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 4rem;

            .media-columna {
                .formulario {
                    display: flex;
                    flex-flow: column;


                    input {
                        margin: .5rem 0;
                        padding: .5rem .2rem;
                        background-color: rgb(49, 49, 70);
                        border: none;
                        font-size: 150%;

                        
                    }
                    textarea {
                        margin: .5rem 0;
                        padding: .5rem .2rem;
                        background-color: rgb(49, 49, 70);
                        border: none;
                        font-size: 150%;
                    }


                    button {
                        width: fit-content;
                        border-color: rgb(86, 86, 248);
                        padding: .5rem .4rem;
                        background-color: rgb(49, 49, 70);
                        color: rgba(240, 238, 217, 0.922);
                        font-size: 150%;
                    }
                }
            }
        }


    }
    .direccion {
        /* color de las palabras de direccion*/
        color: rgba(240, 238, 217, 0.922);
    
        p {
            font-size: 120%;
        }
    
        address {
            font-size: 120%;
    
        }
    }
}

