.main-anime{

    z-index: 2;
    margin: 1% 4%;
    .hijo-anime {
        /* el extend sirve para acomodar las imagenes*/
        @extend %posicion;
        img{
            border-radius: 3px;
        }
    }
    
}