.footer-f {
    font-family: 'Afacad', sans-serif;
    color: aquamarine;
    background-color: rgba(36, 36, 37, 0.925);
    font-size: 18px;

    h2 {
        font-size: 200%;
    }



    .centrar{
        text-align: center;
        font-size: 20px;
    }

    .redes {
        font-family: 'Afacad', sans-serif;
        color: aquamarine;
        display: inline-flex;
        justify-content: center;
        padding: 10px;
        .separacion{
            margin: 20px;
            
        }
    }
}